<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Category: {{category.name}}</h1>
    </div>
    <div class="col-sm-12">
        <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="choice in choices">        
        <li><a href="#" tooltip="{{choice.info}}">{{choice.name}}<button type="button" class="close" ng-click="deleteChoice(choice)">&times;</button></a></li>
      </ul>

      <form class="choice-form">        
        <p class="input-group">
        <input type="text" class="form-control" placeholder="Add a new choice here." ng-model="newChoice">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-click="addChoice()">Add New</button>
        </span>
      </p>
      </form>

    </div>
  </div>
</div>